#first
{   
    height: 60px;
    width: 60px;
    background-color:purple;
    border: 2px dashed black;
    border-radius: 30px;
    text-align:center;
    margin: auto;
}

#second
{
    background-color:blue;
}